:root {
    --bg-header-footer-last: #2C3E50;
    --bg-hero: #1ABC9C;
    --bg-footer-first: #3A546D;
}

::placeholder {
    color: var(--bg-footer-first);
    opacity: 1;
    font-weight: 600;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    color: currentColor;
}

section {
    padding: 2rem 0;
}

button {
    border-style: none;
    color: currentColor;
}

.my__button {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: var(--bg-hero);
}

input {
    width: 100%;
    border-style: none;
    outline: none;
}

textarea {
    width: 100%;
    border-style: none;
    outline: none;
}

h5 {
    text-transform: uppercase;
}

/************ MAIN HEADER ************/

/* .main-header {
    background-color: var(--bg-header-footer-last);
    color: white;
    padding: 2rem 0;
}

.header__title {
    text-transform: uppercase;
    font-weight: bold;
}

.mobile-hamburger {
    color: #888888;
}

.hamburger-border {
    padding: 0.25rem 0.75rem;
    border: 1px solid #888888;
    border-radius: 5px;
}

.tablet-desktop {
    display: none;
    text-transform: uppercase;
} */

.my-nav-bg {
    background-color: #2C3E50;
}

.navbar-brand {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.navbar-brand:hover {
    color: white;
    transition: 0ms;
}

.navbar-toggler {
    color: #888888;
    border-color: #888888;
}

.navbar-toggler:hover {
    transition: none;
}

.navbar-toggler-icon {
    filter: contrast(0);
}

.nav-link {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link:hover {
    color: white;
}

/************ /MAIN HEADER ************/

/************ MAIN CONTENT ************/

/****** MAIN HERO ******/

.main-hero {
    background-color: var(--bg-hero);
    color: white;
}

.row-gap {
    row-gap: 1rem;
}

.avatar-thumb {
    width: 240px;
    aspect-ratio: 1;
}

.hero-main__title {
    text-transform: uppercase;
    font-size: 2rem;
}

.line-hero {
    border: 2px solid white;
}

.star {
    font-size: 2rem;
}

.hero-main__workers {
    text-transform: uppercase;
    font-size: 1.25rem;
}

/****** /MAIN HERO ******/

/****** MAIN SECTION ******/

.row-gap-md {
    row-gap: 2rem;
}

.line-main {
    border: 2px solid black;
}

.main-section__title {
    text-transform: uppercase;
}

.main-section__thumb {
    border-radius: 10px;
}

/****** /MAIN SECTION ******/

/****** ABOUT SECTION ******/

.about-section {
    background-color: var(--bg-hero);
    color: white;
}

.padding-about {
    padding: 0 3rem;
}

.about-section__title {
    text-transform: uppercase;
}

.top-m-space {
    margin-top: 1.5rem;
}

.my-p-style {
    font-size: 1rem;
}

.my__button.about-section__button {
    border: 1px solid white;
}

/****** /ABOUT SECTION ******/

/****** CONTACT SECTION ******/

.padding-contact {
    padding: 0 7rem;
}

.contact-section__title {
    text-transform: uppercase;
}

.input-style {
    border-bottom: 1px solid grey;
    padding-bottom: 0.75rem;
}

.contact-section__infos {
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
}

/****** /CONTACT SECTION ******/

/************ /MAIN CONTENT ************/

/************ FOOTER ************/

/****** FIRST FOOTER ******/

.col-auto.social-links {
    padding: 0;
}

.first-footer {
    background-color: var(--bg-footer-first);
    color: white;
}

.row-gap-footer {
    row-gap: 2rem;
}

.icon-gap  {
    gap: 1rem;
}

.col-auto.icon-pd-0 {
    padding: 0;
}

.circle-icon {
    display: block;
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    padding-top: 1rem;
    border-radius: 999px;
    font-size: 1rem;
}

.start__link {
    color: var(--bg-hero);
}

/****** /FIRST FOOTER ******/

/****** LAST FOOTER ******/

.last-footer {
    background-color: var(--bg-header-footer-last);
    color: white;
}

/****** /LAST FOOTER ******/

/************ /FOOTER ************/

/************ DEBUG RULES ************/

/* .debug .container {
    border: 3px solid red;
}

.debug .row {
    border: 2px solid blue;
}

.debug .col {
    border: 1px solid yellow;
}

.debug [class^='col-'] {
    border: 1px solid yellow;
}

.flex-column {
    border: 2px solid blue;
} */

/************ /DEBUG RULES ************/

@media screen and (min-width: 576px) {

    .mobile-hamburger {
        display: none;
    }

    .tablet-desktop {
        display: block;
    }

    .hero-main__title {
        font-size: 4rem;
    }

    .hero-main__workers {
        font-size: 1.5rem;
    }

}


